# Virtual environments
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.coverage.*
.cache
.pytest_cache/
.pytest_cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitlab-ci.yml

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/
mlartifacts/

# Docker
*.env